html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Slabo 27px", serif;
  color: #8a8a8a;
  position: relative; }

a {
  text-decoration: none; }

p {
  font-family: "Raleway", sans-serif; }

h1 {
  font-family: "Playfair Display", serif; }

h3 {
  font-size: 16px;
  margin: 5px 0 0 0;
  margin: 0;
  padding: 5px 0; }

.clear-fix {
  clear: both;
  content: '';
  height: 0; }

.body-container {
  position: relative;
  transition: all 200ms linear;
  z-index: 2;
  background-color: white; }
  .body-container.down {
    transform: translateY(50px); }

.central-panel {
  max-width: 960px;
  margin: 0 150px; }

.button {
  background-color: white;
  border: 2px solid #4bb899;
  padding: 6px 15px;
  color: #434343;
  transition: all 200ms ease;
  text-align: center;
  margin: 3% auto 6%;
  display: block;
  cursor: pointer;
  font-size: 13px;
  font-family: "Raleway", sans-serif; }
  .button:focus {
    outline: none; }
  .button:hover {
    background-color: #4bb899;
    color: white; }
  .button.green {
    background-color: #4bb899;
    color: white;
    float: left;
    margin-bottom: 2%;
    transition: all 200ms ease; }
    .button.green:hover {
      background-color: white;
      color: #434343; }

.sidenav {
  width: 100%;
  position: fixed;
  background-color: #333333;
  text-align: center; }
  .sidenav a {
    padding: 15px;
    font-size: 17px;
    color: #8a8a8a;
    display: inline-block;
    transition: all 200ms ease;
    position: relative; }
    .sidenav a:hover {
      color: white; }

.top-menu {
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  color: #8a8a8a;
  background-color: white; }
  .top-menu .top-right-menu {
    float: right;
    width: 47%; }
    .top-menu .top-right-menu > ul {
      height: 30px;
      display: inline-flex;
      padding: 0;
      float: right;
      margin: 0; }

.left-banner {
  float: left;
  width: 32%; }
  .left-banner p {
    margin: 0;
    padding-top: 7px;
    font-size: 14px; }

.dropdown-menu .menu-item {
  list-style-type: none;
  float: left;
  position: relative;
  padding: 5px 0;
  margin: 0;
  border-right: 1px solid #e8e8e8;
  width: 85px; }
.dropdown-menu .arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 7px; }
.dropdown-menu.menu-down {
  display: block; }

.dropdown-button {
  margin: 0;
  border: none;
  cursor: pointer;
  padding-left: 10px; }
  .dropdown-button:hover {
    background-color: white;
    color: #434343; }

.submenu-dropdown {
  z-index: 3;
  position: relative;
  padding: 0;
  margin: 0;
  top: 9px; }
  .submenu-dropdown li {
    list-style-type: none;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 10px;
    background-color: white;
    font-size: 13px;
    opacity: 0;
    display: none;
    height: auto;
    transform-origin: center top;
    cursor: pointer; }
    .submenu-dropdown li:first-of-type {
      border-top: 1px solid #e8e8e8; }
    .submenu-dropdown li.open:nth-child(1) {
      animation: fadein 200ms ease-in-out forwards;
      animation-delay: 100ms;
      display: block; }
    .submenu-dropdown li.open:nth-child(2) {
      animation: fadein 200ms ease-in-out forwards;
      animation-delay: 200ms;
      display: block; }
    .submenu-dropdown li.open:nth-child(3) {
      animation: fadein 200ms ease-in-out forwards;
      animation-delay: 300ms;
      display: block; }
    .submenu-dropdown li.open:nth-child(4) {
      animation: fadein 200ms ease-in-out forwards;
      animation-delay: 400ms;
      display: block; }

@keyframes fadein {
  0% {
    transform: rotateX(-90deg);
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    transform: rotateX(0deg);
    opacity: 1; } }
.submenu-dropdown li a {
  color: #8a8a8a; }
.submenu-dropdown li:hover {
  background-color: #fafafa; }
  .submenu-dropdown li:hover a {
    color: #434343; }
.submenu-dropdown .topmenu-icon {
  height: 16px;
  width: 16px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 6px; }
  .submenu-dropdown .topmenu-icon.login {
    background-image: url(../img/icons/login.svg); }
  .submenu-dropdown .topmenu-icon.user {
    background-image: url(../img/icons/user.svg); }

.nav-bar {
  background-color: white; }
  .nav-bar .navbar-list {
    margin: 0;
    padding: 0; }
    .nav-bar .navbar-list li {
      list-style-type: none;
      float: left;
      width: 33%; }
  .nav-bar .burger-container {
    position: relative;
    margin: 37px 0;
    display: inline-block; }
    .nav-bar .burger-container .burger {
      cursor: pointer;
      display: block;
      height: 20px; }
      .nav-bar .burger-container .burger span {
        background: #8a8a8a;
        display: block;
        width: 17px;
        height: 2px;
        margin-bottom: 3px;
        position: relative;
        top: 0;
        transition: all 200ms ease; }
    .nav-bar .burger-container.open span:nth-child(2) {
      width: 0;
      opacity: 0; }
    .nav-bar .burger-container.open span:nth-child(3) {
      transform: rotate(45deg);
      top: 0px; }
    .nav-bar .burger-container.open span:nth-child(1) {
      transform: rotate(-45deg);
      top: 10px; }

.central-logo h1 {
  text-align: center;
  color: #434343;
  font-weight: 500; }

.basket-search-box .basket-search {
  margin-top: 22px; }
.basket-search-box .basket {
  background-image: url(../img/basket-icon.png);
  height: 27px;
  width: 27px;
  float: right;
  position: relative;
  top: 5px;
  right: 43px; }
.basket-search-box input[type=text] {
  width: 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: white url(../img/icons/search.svg) no-repeat 10px 13px;
  padding: 12px 5px 5px 31px;
  float: right;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Slabo 27px", serif;
  color: #8a8a8a;
  line-height: 20px;
  right: -30px; }
  .basket-search-box input[type=text]:focus {
    border: 1px solid #e8e8e8;
    outline: none;
    width: 70%; }

.burger-menu, .central-logo, .basket-search-box {
  float: left;
  width: 33%; }

.slider-section {
  background-color: #eef1f8; }
  .slider-section .violet-section {
    padding: 12% 0 9% 0; }

.arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  top: 70px; }
  .arrow.arrow-prev {
    left: -80px; }
  .arrow.arrow-next {
    right: -80px; }
  .arrow:focus {
    outline: none; }
  .arrow:hover {
    top: 65px; }

.slider-textbox .view-collection {
  color: #4bb899;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Kurale', serif; }
  .slider-textbox .view-collection:focus {
    outline: none; }

.green-arrow {
  background: url(../img/arrows/green-arrow.svg) no-repeat;
  height: 11px;
  width: 15px;
  display: inline-block;
  margin-left: 10px;
  top: 2px; }

.single-slide h1 {
  color: #4bb899;
  font-size: 50px;
  font-weight: 500;
  margin: 0; }
.single-slide p {
  margin: 5px 0;
  font-size: 12px;
  line-height: 21px; }
.single-slide .textbox {
  max-width: 50%;
  float: left; }
.single-slide .slider-image {
  max-width: 50%;
  float: left; }
  .single-slide .slider-image .shoe-image {
    width: 100%; }

.shop-section {
  height: auto;
  background: white; }
  .shop-section .top-paragraph {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px; }
    .shop-section .top-paragraph h1 {
      font-weight: 500;
      text-align: center;
      color: #434343; }

.filter-section {
  height: 50px;
  margin-top: 40px; }

.filter-burger {
  width: 80px;
  height: 42px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 200ms ease; }
  .filter-burger:hover {
    border: 1px solid #e8e8e8;
    background-color: rgba(200, 200, 200, 0.1); }
  .filter-burger .burger-container {
    position: relative;
    margin: 15px 4px;
    display: inline-block; }
  .filter-burger span {
    background: #333333;
    display: block;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    top: 0;
    transition: all 200ms ease; }
  .filter-burger p {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    bottom: 12px;
    font-size: 12px; }

.filter-section .sorting {
  display: block;
  float: right;
  position: relative;
  font-family: "Raleway", sans-serif; }
  .filter-section .sorting .submenu-dropdown {
    position: absolute;
    top: 40px; }
    .filter-section .sorting .submenu-dropdown li {
      padding: 10px 78px 10px 15px; }
  .filter-section .sorting .sorting-button {
    border: 1px solid #e8e8e8;
    border: 1px solid #e8e8e8;
    padding: 6px 15px;
    transition: all 200ms ease;
    display: block;
    cursor: pointer;
    font-size: 13px;
    margin: 0; }
    .filter-section .sorting .sorting-button .emptyarrow-down {
      background: url(../img/arrows/down-arrow.svg) no-repeat;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 15px; }
    .filter-section .sorting .sorting-button:hover {
      background-color: white;
      color: #434343; }

.items-grid {
  margin-top: 20px; }

.shop-item {
  display: inline-block;
  width: 21%;
  float: left;
  box-sizing: border-box;
  position: relative;
  margin: 0 2%; }
  .shop-item .item-description {
    position: relative;
    bottom: 15px; }
  .shop-item .grey-layer {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 200ms ease;
    z-index: 2; }
    .shop-item .grey-layer:hover {
      opacity: 1; }

.buttons-g {
  width: 83px;
  margin: 60% auto; }
  .buttons-g button {
    height: 37px;
    width: 38px;
    position: relative;
    float: left;
    cursor: pointer;
    border: none; }
    .buttons-g button.view {
      background-image: url(../img/shopbutton-eye.png);
      margin-right: 7px; }
    .buttons-g button.bag {
      background-image: url(../img/shopbutton-bag.png); }

.shop-item .img-item {
  display: block;
  margin: 30px auto 0;
  width: 100%; }
.shop-item .item-name {
  text-align: center;
  color: #8a8a8a;
  margin: 5px 0; }
.shop-item .item-price {
  text-align: center;
  color: #4bb899;
  margin: 5px 0; }
.shop-item .rating-stars {
  text-align: center;
  display: block;
  margin: 10px 0; }
  .shop-item .rating-stars img {
    width: 10px;
    position: relative;
    margin: 2px; }

.violet-section {
  background-color: #eef1f8;
  padding: 5%; }

.violet-wrapper .textbox {
  float: left;
  position: relative;
  max-width: 50%;
  font-family: "Playfair Display", serif;
  font-size: 12px; }
  .violet-wrapper .textbox h1 {
    font-size: 36px;
    color: #434343;
    font-weight: 400;
    margin: 0; }
  .violet-wrapper .textbox p {
    line-height: 21px;
    margin: 0; }
  .violet-wrapper .textbox.reversed .color-picker {
    background-image: url(../img/color-selectors.png);
    height: 30px;
    width: 85px;
    display: block;
    margin-top: 5px; }
  .violet-wrapper .textbox.reversed .rating-stars img {
    width: 10px;
    position: relative;
    margin: 2px; }
.violet-wrapper .violet-image {
  max-width: 50%;
  float: left; }
  .violet-wrapper .violet-image img {
    width: 100%; }

.article-section {
  background: white; }
  .article-section .article {
    display: inline-block;
    width: 29%;
    float: left;
    box-sizing: border-box;
    margin: 7% 2% 4% 2%;
    position: relative; }
    .article-section .article img {
      width: 100%; }
    .article-section .article .date-square {
      height: 35px;
      width: 35px;
      position: absolute;
      color: white;
      background-color: #4bb899;
      top: 15px;
      left: 15px; }
      .article-section .article .date-square p {
        text-align: center;
        font-size: 12px;
        margin: 6px;
        line-height: 12px; }
    .article-section .article h4 {
      color: #434343;
      font-size: 14px;
      margin: 10px 0;
      font-weight: 500; }
    .article-section .article p {
      font-size: 11px;
      margin: 7px 0;
      line-height: 20px;
      font-weight: 500; }
    .article-section .article a {
      color: #4bb899;
      font-weight: 500; }
      .article-section .article a:hover {
        text-decoration: underline; }

.footer .top-footer {
  background: white; }
  .footer .top-footer a {
    font-family: "Raleway", sans-serif; }
  .footer .top-footer .nav-panels {
    padding: 40px 0;
    width: 100%;
    margin-left: 20px; }
    .footer .top-footer .nav-panels .nav {
      width: 25%;
      box-sizing: border-box;
      float: left;
      word-wrap: break-word; }
.footer .bottom-footer {
  background-color: #333333;
  margin-top: 20px; }
  .footer .bottom-footer p {
    margin: 5px 0;
    font-size: 14px; }
  .footer .bottom-footer .copyright {
    float: left;
    margin: 25px 0; }
  .footer .bottom-footer .newsletter {
    float: right;
    border-bottom: 2px solid #8a8a8a;
    cursor: pointer;
    width: 187px;
    margin: 25px 0; }
  .footer .bottom-footer input {
    background-color: inherit;
    border: none;
    color: #8a8a8a;
    font-size: 14px;
    font-family: "Slabo 27px", serif;
    width: 160px;
    transition: all 200ms ease;
    cursor: pointer;
    font-family: "Raleway", sans-serif; }
    .footer .bottom-footer input:focus {
      outline: none; }
      .footer .bottom-footer input:focus::-webkit-input-placeholder {
        color: transparent; }
  .footer .bottom-footer .bottomfooter-wrapper {
    padding: 40px 0 10px 0;
    display: block; }

.nav-panels .nav.contact li {
  line-height: 20px; }
  .nav-panels .nav.contact li:first-of-type {
    margin-bottom: 7px; }
.nav-panels .nav.getsocial img {
  width: 13px;
  padding-right: 10px; }
.nav-panels h4 {
  color: #434343;
  margin: 0;
  font-weight: 500; }
.nav-panels ul {
  padding-left: 0; }
.nav-panels li {
  list-style-type: none;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  line-height: 24px; }
  .nav-panels li a {
    color: inherit; }
  .nav-panels li strong {
    color: #8a8a8a; }

.slick-dots {
  display: none !important; }

/*////////////////////////// media queries /////////////////////////*/
@media screen and (min-width: 1234px) {
  .arrow .arrow-next {
    right: -130px; }
  .arrow .arrow-prev {
    left: -130px; } }
@media screen and (max-width: 970px) {
  .central-panel {
    margin: 0 100px; }

  .shop-section .shop-item {
    width: 29%; }
    .shop-section .shop-item:nth-child(n+7) {
      display: none; } }
@media screen and (max-width: 750px) {
  .central-panel {
    margin: 0px 50px; }

  .arrow {
    display: none !important; }

  .slick-dots {
    display: block !important;
    margin-top: 25px;
    position: relative; }

  .top-menu .left-banner {
    width: 100%;
    border-bottom: 1px solid #e8e8e8; }
    .top-menu .left-banner p {
      padding: 10px 0 5px 23px; }
  .top-menu .top-right-menu {
    width: 100%;
    text-align: center; }

  .nav-bar .burger-container {
    margin: 37px 15px; }

  header .central-panel {
    width: 100%;
    margin: 0; }

  .shop-section .shop-item {
    width: 46%; }
    .shop-section .shop-item:nth-child(n+5) {
      display: none; }

  .article-section {
    height: auto; }
    .article-section .article {
      height: auto;
      width: 100%;
      margin: 3% 0; }

  .single-slide .slider-image {
    max-width: 100%; }
  .single-slide .textbox {
    max-width: 100%; }

  .footer .top-footer .nav-panels .nav {
    width: 50%;
    margin: 10px 0; }
  .footer .top-footer .nav-panels li {
    line-height: 28px; }

  .violet-wrapper .textbox {
    max-width: 100%; }
  .violet-wrapper .violet-image {
    max-width: 100%; }

  .article .date-square {
    height: 45px;
    width: 45px; }
    .article .date-square p {
      font-size: 15px;
      line-height: 17px; } }
@media screen and (max-width: 550px) {
  .central-panel {
    margin: 0px 15px; }

  .sidenav a {
    padding: 2px 0px 0px 17px; }

  .left-banner {
    float: none;
    text-align: center;
    padding: 0; }
    .left-banner p {
      padding: 6px 0; }

  .footer .top-footer .nav-panels {
    margin-left: 0; }
  .footer .bottom-footer .copyright {
    float: none;
    margin: 15px 0;
    text-align: center; }
  .footer .bottom-footer .newsletter {
    float: none;
    margin: 30px auto; }

  .basket-search-box input[type=text] {
    right: -25px; }

  .top-menu .top-right-menu > ul {
    float: none; } }

/*# sourceMappingURL=styles.css.map */
