$main-bg-light: #eef1f8;
$main-bg-dark: #333333;
$dark-text-muted: #8a8a8a;
$dark-text: #434343;
$main-green: #4bb899;
$border-colour: #e8e8e8;
$main-font-serif: 'Playfair Display', serif;
$minor-font-serif: 'Slabo 27px', serif;
$font-sans-serif: 'Raleway', sans-serif;
