@import "_variables";

html,body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding:0;
  top: 0;
  font-family: $minor-font-serif;
  color: $dark-text-muted;
  position: relative;
  font-weight: 500;
}

a{
  text-decoration: none;
}

p{
  font-family: $font-sans-serif;
  font-weight: 500;
}

h1{
  font-family: $main-font-serif;
  font-weight: 500;
}

h3{
  font-size: 12px;
  margin: 5px 0 0 0;
  margin: 0;
  padding: 5px 0;
  font-weight: 500;
}

.clear-fix {
  clear: both;
  content: '';
  height: 0;
}

.central-panel {
  max-width: 970px;
  margin: 0 auto;
}

.to-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: fixed;
  bottom: 33px;
  float: right;
  right: 30px;
  z-index: 5;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  transition: all 400ms ease;
  background-color: $main-green;
  color: white;
  transform: translateY(63px);
  font-family: $main-font-serif;
  &:focus{
    outline: none;
  }
  i{
    display: block;
    font-size: 21px;
  }
  &.slide-in{
    opacity: 1;
    transform: translateY(0px);
  }
  &:hover{
    background-color: white;
    border: 1px solid $main-green;
    color: $dark-text-muted;
  }
  p{
    font-size: 17px;
    margin: 0;
  }
}

.body-container{
  position: relative;
  transition: all 200ms linear;
  z-index: 2;
  background-color: white;
  &.down{
    transform: translateY(50px);
  }
}

.button{
  background-color: white;
  border: 2px solid $main-green;
  padding: 6px 15px;
  color: $dark-text;
  transition: all 200ms ease;
  text-align: center;
  margin: 3% auto 6%;
  display: block;
  cursor: pointer;
  font-size: 13px;
  font-family: $font-sans-serif;
  &:focus{
    outline: none;
  }
  &:hover{
    background-color: $main-green;
    color: white;
  }
  &.green{
    background-color: $main-green;
    color: white;
    float: left;
    margin: 13px 0 0 0;
    transition: all 200ms ease;
    &:hover{
      background-color: white;
      color: $dark-text;
    }
  }
}

.sidenav {
  width: 100%;
  position: fixed;
  background-color: $main-bg-dark;
  text-align: center;
  a{
    padding: 15px;
    font-size: 17px;
    color: $dark-text-muted;
    display: inline-block;
    transition: all 200ms ease;
    position: relative;
    &:hover{
      color: white;
    }
  }
}

.top-menu{
  border-bottom: 1px solid $border-colour;
  position: relative;
  color: $dark-text-muted;
  background-color: white;
  .top-right-menu{
    float: right;
    width: 47%;
    >ul{
      height: 25px;
      display: inline-flex;
      padding: 0;
      float: right;
      margin: 0;
    }
  }
}

.left-banner{
  float: left;
  width: 32%;
  p{
    margin: 0;
    padding-top: 7px;
    font-size: 14px;
  }
}

.dropdown-menu{
  .menu-item{
    list-style-type: none;
    float: left;
    position: relative;
    padding: 5px 0;
    margin: 0;
    border-right: 1px solid $border-colour;
    width: 75px;
    font-size: 12px;
  }
  i{
    padding-left: 5px;
    pointer-events: none;
  }
  &.menu-down{
    display: block;
  }
}

.dropdown-button{
  margin: 0;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  &:hover{
    background-color: white;
    color: $dark-text;
  }
}

.submenu-dropdown{
  z-index: 3;
  position: relative;
  padding: 0;
  top: 10px;
  li{
    border-bottom: 1px solid $border-colour;
    border-left: 1px solid $border-colour;
    border-right: 1px solid $border-colour;
    padding: 10px;
    background-color: white;
    opacity: 0;
    transform-origin: center top;
    -webkit-transform-origin: center top;
    cursor: pointer;
    &:first-of-type{
      border-top: 1px solid $border-colour;
    }
    &.open{
      @for $i from 1 through 4{
        &:nth-child(#{$i}){
          -webkit-animation: rollDown 200ms ease-in-out forwards;
          animation: rollDown 200ms ease-in-out forwards;
          -webkit-animation-delay: $i * 100ms;
          animation-delay: $i * 100ms;
          display: block;
        }
      }
    }
  }
}

@keyframes rollDown{
  0%{
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  100%{
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.submenu-dropdown{
  -webkit-perspective: 500px;
  li{
    a{
      color: $dark-text-muted;
      font-size: 12px;
    }
    &:hover{
      background-color: rgb(250,250,250);
      a{
        color: $dark-text;
      }
    }
  }
  .topmenu-icon{
    height: 16px;
    width: 16px;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 6px;
    &.login{
      background-image: url(../img/icons/login.svg);
    }
    &.user{
      background-image: url(../img/icons/user.svg);
    }
  }
}

.nav-bar{
  background-color: white;
  transition: all 200ms linear;
  position: absolute;
  width: 100%;
  &.navbar-fixed{
    position: fixed;
    z-index: 3;
    top: 0;
  }
  .navbar-list{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      float: left;
      width: 33%;
    }
  }
  .burger-container{
    position: relative;
    margin: 37px 0;
    display: inline-block;
    .burger{
      cursor: pointer;
      display: block;
      height: 20px;
      span{
        background: $dark-text-muted;
        display: block;
        width: 17px;
        height: 2px;
        margin-bottom: 3px;
        position: relative;
        top: 0;
        transition: all 200ms ease;
      }
    }
    &.open{
      span{
        &:nth-child(2){
          width: 0;
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(45deg);
          top: 0px;
        }
        &:nth-child(1){
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }
  }
}

.central-logo{
  h1{
    text-align: center;
    color: $dark-text;
  }
}

.basket-search-box{
  .basket-search{
    margin-top: 22px;
  }
  .basket{
    background-image: url(../img/basket-icon.png);
    height: 27px;
    width: 27px;
    float: right;
    position: relative;
    top:5px;
    right:43px;
  }
  input[type=text] {
    width: 0;
    box-sizing: border-box;
    border-radius: 4px;
    background: white url(../img/icons/search.svg) no-repeat 10px 13px;
    padding: 12px 5px 5px 31px;
    float: right;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    position: relative;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: $minor-font-serif;
    color: $dark-text-muted;
    line-height: 20px;
    right: -30px;
    &:focus {
      border: 1px solid $border-colour;
      outline: none;
      width: 70%;
    }
  }
}

.burger-menu, .central-logo,.basket-search-box{
  float:left;
  width:33%;
}

.slider-section{
  background-color: $main-bg-light;
  padding-top: 90px;
  .violet-section{
    padding: 12% 0 9% 0;
  }
}

.arrow{
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 200ms ease;
  top: 70px;
  &.arrow-prev{
    left: -80px;
  }
  &.arrow-next{
    right: -80px;
  }
  &:focus{
    outline: none;
  }
  &:hover{
    top: 65px;
  }
}

.slider-textbox{
  .view-collection{
    color: $main-green;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Kurale', serif;
    &:focus{
      outline: none;
    }
  }
}

.green-arrow{
  background: url(../img/arrows/green-arrow.svg) no-repeat;
  height: 11px;
  width: 15px;
  display: inline-block;
  margin-left: 10px;
  top: 2px;
}

.single-slide{
  h1{
    color: $main-green;
    font-size: 50px;
    margin: 0;
  }
  p{
    margin: 5px 0;
    font-size: 12px;
    line-height: 21px;
  }
  .textbox{
    max-width: 50%;
    float: left;
  }
  .slider-image{
    max-width: 50%;
    float: left;
    .shoe-image{
      width: 100%
    }
  }
}

.shop-section{
  height: auto;
  background: white;
  .top-paragraph{
    max-width: 580px;
    margin: 0 auto;
    padding-top: 60px;
    h1{
      text-align: center;
      color: $dark-text;
    }
    p{
      font-size: 16px;
    }
  }
}

.filter-section{
  height: 50px;
  margin-top: 40px;
}

.filter-burger{
  float: left;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 200ms ease;
  &:hover{
    border: 1px solid $border-colour;
    background-color: rgba(200,200,200,0.1);
  }
  .burger-container{
    position: relative;
    margin: 15px 4px;
    display: inline-block;
  }
  span{
    background: $main-bg-dark;
    display: block;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    transition: all 200ms ease;
  }
  p{
    display: inline-block;
    margin: 0 5px;
    position: relative;
    bottom: 12px;
    font-size: 14px;
  }
}

.filter-section{
  .sorting{
    display: block;
    float: right;
    position: relative;
    font-family: "Raleway", sans-serif;
    .submenu-dropdown{
      position: absolute;
      top: 20px;
      li{
        padding: 10px 70px 10px 15px;
      }
    }
    .sorting-button{
      border: 1px solid $border-colour;
      border: 1px solid #e8e8e8;
      padding: 6px 15px;
      transition: all 200ms ease;
      display: block;
      cursor: pointer;
      font-size: 13px;
      i{
        padding-left: 5px;
        pointer-events: none;
      }
      &:hover{
        background-color: white;
        color: $dark-text;
      }
    }
  }
}

.items-grid{
  margin-top: 20px;
}

.shop-item{
  display: inline-block;
  width: 21%;
  float: left;
  box-sizing: border-box;
  position: relative;
  margin: 0 2%;
  .item-description{
    position: relative;
    bottom: 15px;
  }
  .grey-layer{
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    border: rgba(0,0,0,.7);
    height:100%;
    width:100%;
    position: absolute;
    transition: all 200ms ease;
    z-index: 2;
    border-radius: 3px;
    &:hover{
      opacity: 1;
    }
  }
}

.buttons-g{
  width: 81px;
  margin: 60% auto 0;
  height: 38px;
  span{
    height: 37px;
    width: 37px;
    float: left;
    cursor: pointer;
    &.view{
      background-image: url(../img/shopbutton-eye.png);
      margin-right: 7px;
    }
    &.bag{
      background-image: url(../img/shopbutton-bag.png);
    }
  }
}

.shop-item{
  .img-item{
    display: block;
    margin: 30px auto 0;
    width: 100%;
  }
  .item-name{
    text-align: center;
    color: $dark-text-muted;
    margin: 5px 0;
  }
  .item-price{
    text-align: center;
    color: $main-green;
    margin: 5px 0;
  }
  .rating-stars{
    text-align: center;
    display: block;
    margin: 10px 0;
    img{
      width: 10px;
      position: relative;
      margin: 2px;
    }
  }
}

.violet-section{
  background-color: $main-bg-light;
  padding: 5% 0;
}

.violet-wrapper{
  .textbox{
    float: left;
    position: relative;
    max-width: 50%;
    font-size: 12px;
    h1{
      font-size: 36px;
      color: $dark-text;
      margin: 0;
    }
    p{
      line-height: 21px;
      margin: 0;
    }
    &.reversed{
      .color-picker{
        background-image: url(../img/color-selectors.png);
        height: 30px;
        width: 85px;
        display: block;
        margin-top: 5px;
      }
      .rating-stars{
        img{
            width: 10px;
            position: relative;
            margin: 2px;
        }
      }
    }
  }
  .violet-image{
    max-width:50%;
    float: left;
    img{
      width: 100%;
    }
  }
}

.article-section{
  background: white;
  .article{
    display: inline-block;
    width: 29%;
    float: left;
    box-sizing: border-box;
    margin: 7% 2% 4% 2%;
    position: relative;
    img{
      width: 100%;
    }
    .date-square{
      height: 35px;
      width: 35px;
      position: absolute;
      color: white;
      background-color: $main-green;
      top: 15px;
      left: 15px;
      p{
        text-align: center;
        font-size: 12px;
        margin: 6px;
        line-height: 12px;
      }
    }
    h4{
      color: $dark-text;
      font-size: 14px;
      margin: 10px 0;
      font-weight: 500;
    }
    p{
      font-size: 11px;
      margin: 7px 0;
      line-height: 20px;
    }
    a{
      color: $main-green;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.footer{
  .top-footer{
    background: white;
    a{
      font-family: $font-sans-serif;
      &:hover{
        color: $dark-text;
      }
    }
    .nav-panels{
      padding-top: 40px;
      .nav{
        width: 25%;
        box-sizing: border-box;
        float: left;
        word-wrap: break-word;
      }
    }
  }
  .bottom-footer{
    background-color: $main-bg-dark;
    margin-top: 20px;
    p{
      margin: 5px 0;
      font-size: 14px;
    }
    .copyright{
      float: left;
      margin: 25px 0;
    }
    .newsletter{
      float: right;
      border-bottom: 2px solid $dark-text-muted;
      cursor: pointer;
      width: 187px;
      margin: 25px 0;
    }
    input{
      background-color: inherit;
      border: none;
      color: $dark-text-muted;
      font-size: 14px;
      font-family: $minor-font-serif;
      width: 160px;
      transition: all 200ms ease;
      cursor: pointer;
      font-family: $font-sans-serif;
      &:focus{
        outline: none;
        &::-webkit-input-placeholder{
          color:transparent;
        }
      }
    }
    .bottomfooter-wrapper{
      padding: 40px 0 10px 0;
      display: block;
    }
  }
}

.nav-panels{
  .nav{
    &.contact{
      li{
        line-height: 20px;
        &:first-of-type{
          margin-bottom: 7px;
        }
      }
    }
    &.getsocial{
      img{
        width: 13px;
        padding-right: 10px;
      }
    }
  }
  h4{
    color: $dark-text;
    margin: 0;
    font-weight: 500;
  }
  ul{
    padding-left: 0;
  }
  li{
    list-style-type: none;
    font-family: $main-font-serif;
    font-size: 12px;
    line-height: 24px;
    a{
      color: inherit;
    }
    strong{
        color: $dark-text-muted;
    }
  }
}

.slick-dots{
  display:none!important;
}

/*////////////////////////// media queries /////////////////////////*/

@media screen and (min-width: 1290px){

  .arrow{
    .arrow-next{
      right: -130px;
    }
    .arrow-prev{
      left: -130px;
    }
  }
  
  .slider-section{
    .violet-section{
      padding: 18% 0;
    }
  }
}

@media screen and (max-width: 1234px){
  .central-panel{
    margin: 0px 100px;
  }
}

@media screen and (max-width: 970px){

  .shop-section{
    .shop-item{
      width: 29%;
      &:nth-child(n+7){
        display: none;
      }
    }
  }
}

@media screen and (max-width: 750px){

  .central-panel {
    margin: 0px 50px;
  }
  .arrow {
    display:none!important;
  }
  .slick-dots{
    display:block!important;
    margin-top: 25px;
    position: relative;
  }

  .top-menu{
    .left-banner{
      h3{
        padding-left: 5px;
      }
      p{
        padding: 10px 0 5px 23px;
      }
    }
    .top-right-menu{
      text-align: center;
    }
  }

  .nav-bar{
    .burger-container{
      margin: 37px 15px;
    }
  }

  header{
    .central-panel{
      width: 100%;
      margin: 0;
    }
  }

  .shop-section{
    .shop-item{
      width: 46%;
      &:nth-child(n+5){
        display: none;
      }
    }
  }

  .article-section{
    height: auto;
    .article{
      height: auto;
      width: 100%;
      margin: 10% 0 3% 0;
    }
  }

  .single-slide{
    .slider-image{
      max-width: 100%;
    }
    .textbox{
      max-width: 100%;
    }
  }

  .footer{
    .top-footer{
      .nav-panels{
        .nav{
          width: 50%;
          margin: 10px 0;
        }
        li{
          line-height: 28px;
        }
      }
    }
  }

  .violet-wrapper{
    .textbox{
      max-width:100%;
    }
    .violet-image{
      max-width:100%;
    }
  }

  .article{
    .date-square{
      height: 45px;
      width: 45px;
      p{
        font-size: 15px;
        line-height: 17px;
      }
    }
  }
}

@media screen and (max-width: 550px){

  .central-panel{
    margin: 0px 15px;
  }

  .sidenav{
    a{
      font-size: 15px;
      padding: 15px 10px;
    }
  }
  .top-menu{
    .left-banner{
      float: none;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid $border-colour;

    }
    .top-right-menu{
      width: 100%;
      >ul{
        float:none;
      }
    }
  }

  .footer{
    .top-footer{
      .nav-panels{
          margin-left: 0;
      }
    }
    .bottom-footer{
      .copyright{
        float: none;
        margin: 15px 0;
        text-align: center;
      }
      .newsletter{
        float: none;
        margin: 30px auto;
      }
    }
  }

  .basket-search-box input[type=text] {
    right: -25px;
  }
}
